#about {
  position: fixed;
  top: 14px;
  right: 16px;
  display: inline-block;
  font-size: 0.85em;
  font-weight: 500;
  font-family: "Roboto Mono";
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

#about:hover,
#about:active {
  color: crimson;
  transition: color 0.3s ease-in-out;
}

.me {
  width: 30%;
  height: 100vh;
  max-height: 100vh;
  padding: 1em;
  border-right: 1px solid #000;
  position: fixed;
}

.me img {
  width: 100%;
  height: auto;
}

.me section {
  text-align: center;
}

.me .name {
  font-family: "Noe Display";
  font-weight: 900;
  line-height: 1.25;
  font-size: 3em;
  color: crimson;
  text-align: center;
}

.me .presentation {
  font-weight: 500;
  font-size: 0.925em;
  text-align: center;
}

.me .cv {
  display: none;
}

/* works displayer  */

.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  position: relative;
  margin-left: 30%;
}

.content .allWorks {
  font-family: "Roboto Mono";
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  width: auto;
  color: crimson;
}

.content li {
  width: 17.5em;
  height: 12em;
  max-height: 12em;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #000;
  padding: 8px;
  margin: 8px;
  vertical-align: top;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.content li:hover {
  border: 1px solid #000;
  background-color: #000;
}

.content li:hover .works {
  color: crimson;
}

.content li .works {
  position: relative;
  font-family: "Noe Display";
  font-weight: 900;
  line-height: 1.25;
  font-size: 2.3em;
  color: #000;
}

.content li:hover p {
  color: #fff;
}

.content p {
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Media Queries max-width:640 */

@media screen and (max-width: 640px) {
  #about {
    right: 24px;
  }

  .me {
    width: 36%;
    height: 100vh;
    max-height: 100vh;
    padding: 1em;
    border-right: 1px solid #000;
    position: fixed;
  }

  .content {
    width: 64%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    position: relative;
    margin-left: 36%;
  }

  .content .allWorks {
    font-family: "Roboto Mono";
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    width: auto;
    color: crimson;
  }

  .content div {
    overflow-y: auto;
  }

  .content li {
    width: 20em;
    height: 11em;
    max-height: 11em;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #000;
    padding: 8px;
    margin: 8px;
    vertical-align: top;
    cursor: pointer;
  }

  .content li:hover {
    border: 1px solid #000;
    background-color: #000;
  }

  .content li .works {
    position: relative;
    font-family: "Noe Display";
    font-weight: 900;
    line-height: 1.8;
    font-size: 1.4em;
    color: #000;
  }

  .content li:hover .works {
    color: crimson;
  }

  .content li:hover p {
    color: #fff;
  }

  .content p {
    font-size: 0.925em;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

/* Media Queries max-width:480 */

@media screen and (max-width: 480px) {
  #about {
    right: 24px;
  }

  .me {
    width: 100vw;
    height: auto;
    padding: 1em;
    border-right: none;
    position: relative;
  }

  .me .name {
    font-size: 2.5em;
  }

  .me .presentation {
    font-weight: 500;
    font-size: 1em;
    text-align: center;
  }

  .me .cv {
    display: block;
    margin: 8px;
  }

  .me .cv a{
    height: 36px;
    padding: 8px 16px;
    margin: 0 12px;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    font-size: 0.825em;
  }

  .content {
    display: flex;
  }
}
