@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Inter-Medium.woff2") format("woff2"),
    url("./fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "You2013";
  src: url("./fonts/You2013.woff2") format("woff2"),
    url("./fonts/You2013.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", "You2013", sans-serif;
  background-color: #fff;
}

a {
  color: #000;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "You2013";
}

main {
  display: flex;
  flex-direction: row;
  position: relative;
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 16px;
  margin: 0;
}

#root {
  position: relative;
}
/* colors */
.text-crimson {
  color: rgba(237, 20, 61, 1);
}

/* Media Queries max-width:640 */

@media screen and (max-width: 640px) {
  #root {
    position: relative;
    width: 100vw;
  }
}

/* Media Queries max-width:480 */

@media screen and (max-width: 480px) {
  main {
    flex-direction: column;
  }
}

/* Navbar */
nav {
  height: 48px;
  width: 90%;
  padding: 16px;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fff;
}

nav .btn-back {
  border: none;
  cursor: pointer;
  background-color: rgba(237, 20, 61, 0.24);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  padding: 0;
  outline: none;
}

nav .nav-right {
  padding: 0.825em;
}

nav a {
  padding: 0.825em;
}

nav a:hover {
  color: rgba(237, 20, 61, 1);
}

/* About */

.about {
  height: 600px;
  width: 90%;
  border-radius: 2px;
  background-color: #fff;
  padding: 16px;
  margin: 0 auto;
}

.about-story {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.7;
}

.about-story blockquote {
  font-size: 1.125em;
  border-left: 5px solid rgba(237, 20, 61, 1);
  border-right: 5px solid rgba(237, 20, 61, 1);
  padding: 0.425em 0.825em;
  background-color: rgba(237, 20, 61, 0.24);
  margin-right: 0;
  margin-left: 0;
}

.workflow .title {
  color: rgba(237, 20, 61, 1);
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.workflow .stack {
  height: 42px;
  margin: 0 0.75em;
  background-color: #000;
}

.workflow .subtitle {
  margin: 1em 1em 0.5em;
  color: #989898;
  font-size: 12px;
  display: block;
}

/* Aside */

.me {
  width: 30%;
  height: 100vh;
  max-height: 100vh;
  padding: 1em;
  position: fixed;
}

.me img {
  width: 100%;
  height: auto;
}

.me section {
  text-align: center;
}

.me .name {
  font-family: "You2013";
  font-weight: 900;
  line-height: 1.25;
  font-size: 3em;
  color: rgba(237, 20, 61, 1);
  text-align: center;
}

.me .presentation {
  font-weight: 500;
  font-size: 0.925em;
  text-align: center;
  line-height: 1.7;
}

.me blockquote {
  font-size: 1.125em;
  border-left: 5px solid rgba(237, 20, 61, 1);
  border-right: 5px solid rgba(237, 20, 61, 1);
  padding: 0.425em 0.825em;
  background-color: rgba(237, 20, 61, 0.24);
  margin-right: 0;
  margin-left: 0;
}

.me .cv {
  display: none;
}

/* works displayer  */

.content {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  /* padding-bottom: 40px; */
  position: relative;
  margin-left: 30%;
}

.content li {
  width: 17.5em;
  height: 12em;
  max-height: 12em;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #000;
  padding: 8px;
  margin: 8px;
  vertical-align: top;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.content li:hover {
  border: none;
  border: 1px solid rgba(237, 20, 61, 0.2);
  box-shadow: 0 0 8px 8px rgba(237, 20, 61, 0.2);
}

.content li:hover .works {
  color: rgba(237, 20, 61, 1);
}

.content li .works {
  position: relative;
  font-family: "You2013";
  font-weight: 900;
  line-height: 1.25;
  font-size: 2.1em;
  color: #000;
}

.content p {
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* Case study */

.cs-title {
  font-size: 3.125em;
  color: rgba(237, 20, 61, 1);
}

/* Media Queries max-width:640 */

@media screen and (max-width: 640px) {
  #about {
    right: 24px;
  }

  .me {
    width: 36%;
    height: 100vh;
    max-height: 100vh;
    padding: 1em;
    border-right: 1px solid #000;
    position: fixed;
  }

  .me .cv {
    display: none;
  }

  .content {
    width: 64%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    position: relative;
    margin-left: 36%;
  }

  .content .allWorks {
    font-family: "Roboto Mono";
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    width: auto;
    color: rgba(237, 20, 61, 1);
  }

  .content li {
    width: 20em;
    height: 11em;
    max-height: 11em;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #000;
    padding: 8px;
    margin: 8px;
    vertical-align: top;
    cursor: pointer;
  }

  .content li:hover {
    border: 1px solid #000;
    background-color: #000;
  }

  .content li .works {
    position: relative;
    font-family: "You2013";
    font-weight: 900;
    line-height: 1.8;
    font-size: 1.4em;
    color: #000;
  }

  .content li:hover .works {
    color: rgba(237, 20, 61, 1);
  }

  .content li:hover p {
    color: #fff;
  }

  .content p {
    font-size: 0.925em;
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

/* Media Queries max-width:480 */

@media screen and (max-width: 480px) {
  #about {
    right: 24px;
  }

  .me {
    width: 100vw;
    height: auto;
    padding: 1em;
    border-right: none;
    position: relative;
  }

  .me .name {
    font-size: 2.5em;
  }

  .me blockquote {
    font-size: 1.025em;
  }

  .me .presentation {
    font-weight: 500;
    font-size: 1em;
    text-align: center;
  }

  .me .cv {
    display: none;
  }

  .content {
    display: flex;
    margin: 0;
    width: 100%;
  }

  /* Navbar */
  nav {
    width: 100vw;
    padding: 16px;
    margin: -16px;
    border-bottom: 5px solid rgba(237, 20, 61, 1);
  }

  .about {
    height: auto;
    width: auto;
    border-radius: 2px;
    background-color: #fff;
    padding: 0;
    margin: 0;
  }

  .content ul {
    padding: 0;
  }

  .content li {
    width: 100%;
    display: inline-block;
    margin: 8px auto;
  }

  .content .works {
    font-size: 1.7em;
  }

  .content p {
    font-size: 1.15em;
  }
}
/* Media Queries max-width:375 */

@media screen and (max-width: 375px) {
  .me .cv {
    display: block;
    margin: 8px;
  }

  .me .cv a {
    padding: 16px;
    margin: 0 12px;
    border: 1px solid rgba(237, 20, 61, 1);
    background-color: rgba(237, 20, 61, 1);
    color: #000;
    font-size: 0.825em;
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgba(237, 20, 61, 1);
}

::-webkit-scrollbar-track {
  background: #000;
}

::selection {
  background-color: rgba(237, 20, 61, 0.24);
  color: #00e;
}
