$primary: #000;
$secondary: #cc9e0c;
$info: #007bff;
$white: #fff;
$body-bg: $primary;
$hr-border-color: rgba($white, 0.2);
$list-group-bg: $primary;
$list-group-hover-bg: rgba($white, 0.2);
$list-group-border-color: rgba($white, 0.2);
$brand-primary: darken($white, 6.5%) !default;
$link-color: $brand-primary !default;
$link-hover-color: darken($white, 75%) !default;
$link-hover-decoration: none !default;
$input-border: $primary !default;

#nprogress .bar {
	background: $secondary !important;
}

.fullscreen {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.flex-centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.w-title {
	font-size: 4.5rem;
	font-weight: bolder;
}

.subtitle {
	font-size: 2.5rem;
	font-weight: bolder;
}

.w-lead {
	font-size: 1.65rem;
	font-weight: 200;
}

.welcome-hero {
	height: 100vh;
	min-height: 100vh;
}

@media (max-width: 575.98px) {
	.w-title {
		font-size: 2.1rem;
		line-height: 1.1;
	}

	.welcome-hero {
		margin: 3rem 0;
	}

	.flex-centered {
		justify-content: start;
		align-items: start;
	}
}

/* SCROLLBAR */
::-webkit-scrollbar {
	width: 2px;
}

::-webkit-scrollbar-thumb {
	background: $secondary;
}

::-webkit-scrollbar-track {
	background: $primary;
}

::-webkit-scrollbar-thumb:hover {
	background: var(--primary);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: var(--primary);
}

/* SELECTION */
::selection {
	background-color: transparent;
	color: $secondary;
}

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";
