.cover{
  width: 100vw;
  height: 65vh;
  position: relative;
  display: flex;
  background: white;
  align-items: center;
}

.title {
  font-size: 3em;
  letter-spacing: -0.07em;
  margin: 0;
  position: relative;
}

.details {
  width: 560px;
  height: auto;
  position: relative;
  padding: 16px;
  background: white;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 0 -2px 8px hsla(204, 3%, 60%, 0.75);
}

.description {
  margin: 0;
  margin-top: 12px;
  font-size: 13px;
  font-weight: 500;
}

.row {  
  height: 48px;
  display: flex;
  margin: 16px 0 0;
  flex-direction: row;
}
